# ----------------------------------------------------------
# Large Binary/Installer Files
# ----------------------------------------------------------
Mambaforge-Linux-x86_64.sh*
Python-2.7.18*
*.tgz

# ----------------------------------------------------------
# Output, Logs, Cache
# ----------------------------------------------------------
output/
outputResults/
Results/
cache/
log/
logs/
*.log

# ----------------------------------------------------------
# Large Dataset Folders
# ----------------------------------------------------------
data/
PATRIC_AMR_data/

# ----------------------------------------------------------
# Temporary / System Files
# ----------------------------------------------------------
wget-log*
.DS_Store
Thumbs.db
